{% extends "base.html" %}
{% block title %}{{single.name}}{% endblock %}
{% block content %}
    {% if single: %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{single.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{single.universe}}</h6>
                <p class="card-text">{{single.availability}} character</p>
                <p class="card-text">Final Smash: {{single.final_smash}} character</p>
                <p class="card-text">What the official site has to say about them:</p>
                <h6 class="card-text">{{single.quote}}</h6>
                <a href="{{single.wiki_url}}" class="card-link">more info on {{single.name}}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}