{% extends "base.html" %}

{% block title %}Where bros go to smash...{% endblock%}
{% block content%}
<h4>This project was the brain-child of my dear wife who was attempting
to help me think of something that would hold my interest beyond merely
finishing this project. We love to play Super Smash Bros. together and
she wondered if I could program an application that pairs up Smash Bros.
characters and tells you how compatible they would be romatically. You
know, Smashing Smash Bros!</h4>
{% endblock %}