{% extends "base.html" %}

{% block title %}Match{% endblock%}
{% block content%}
    <h1>Let's get some Smash Bros. Smashin'!</h1>
    </br>
    </br>
    <h2>Choose two of these fighters looking for love to set up on a date:</h2>
    <form class="form-inline">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">New Setup</label>
        <select class="custom-select my-1 mr-sm-2" name="single1" id="inlineFormCustomSelectPref">
            <option selected>First Single</option>
                {% for single in singles: %}
                    <option value="{{single.id}}">{{single.name}}</option>
                {% endfor %}
        </select>

        <select class="custom-select my-1 mr-sm-2" name="single2" id="inlineFormCustomSelectPref">
            <option selected>Second Single</option>
                {% for single in singles: %}
                    <option value="{{single.id}}">{{single.name}}</option>
                {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary my-1">SMUSH 'EM</button>
    </form>
{% endblock %}