{% extends "base.html" %}

{% block title %}Match{% endblock%}
{% block content%}
    <h1>Let's get some Smash Bros. Smashin'!</h1>
    </br>
    </br>
    <h2>Choose two of these fighters looking for love to set up on a date:</h2>
    <form>
        {% for single in singles: %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    {{single.name}}
                </label>
            </div>
        {% endfor %}
        <button type="button submit" class="btn btn-primary btn-lg" action="POST">SMUSH 'EM</button>
    </form>
{% endblock %}